@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Selamun Aleyküm</h1>
    <h5>
        Kayıt olmadan işlem yapamazsınız
        Sizin için açtığınız kontratların vade ve pozisyon bilgisine göre ortalamalarını çıkartıyoruz
    </h5>
</div>
